<h2><%= @recipe.title %></h2>
<img src="<%= @recipe.image_url %>" alt="<%= @recipe.title %> pic" height="200" width="200"><br>
<strong>Date Created: <%= @recipe.created_at.strftime("%B %d %Y") %></strong>
<h3>Ingredients:</h3>
<p><%= @recipe.ingredients %></p>
<h3>Instructions:</h3>
<p><%= @recipe.instructions %></p>
<p>Chef Name: <%= @recipe.user.name %></p>

<% if authorized_to_edit?(@recipe) %>
    <a href="/recipes/<%= @recipe.id %>/edit">Update Recipe</a>

    <form action="/recipes/<%= @recipe.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Recipe">
    </form>
<% end %>