<h1>Hi <%= @user.name %>!</h1>

<img src="<%= @user.image_url %>" alt="profile pic" height="200" width="200">
<p>Email: <%= @user.email %></p>
<p>About: <%= @user.bio %></p>

<h1>My Recipes: </h1>
<% @user.recipes.each do |r| %>
    <h3><a href="/recipes/<%= r.id %>"><%= r.title %>:</a></h3>
    <a href="/recipes/<%= r.id %>"><img src="<%= r.image_url %>" alt="<%= r.title %> Pic" height="175" width="175"></a><br>
    <strong>Date Created: <%= r.created_at %></strong>
    <p>By <%= r.user.name %></p>
<% end %>


