<div class="container">
  <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>
  <h1>Vagan Recipes Network</h1>  

  <h2>Latest Recipes:</h2>

<% @recipes.each do |r| %>
    <h3><a href="/recipes/<%= r.id %>"><%= r.title %>:</a></h3>
    <a href="/recipes/<%= r.id %>"><img src="<%= r.image_url %>" alt="<%= r.title %> Pic" height="175" width="175"></a><br>
    <strong>Date Created: <%= r.created_at %></strong>
    <p>By <%= r.user.name %></p>
    <%# add a description %>
<% end %>  
</div>
